/java11_class_level2/Chapter1_1/nbproject/private/
/java11_class_level2/Chapter2_1/nbproject/private/
/java11_class_level2/Chapter2_1/build/
/java11_class_level2/Chapter2_p68/nbproject/private/
/java11_class_level2/Chapter2_p70/nbproject/private/
/java11_class_level2/Chapter2_p70/build/
/java11_class_level2/Chapter2_p44/nbproject/private/
/java11_class_level2/Chapter2_p44/build/
/java11_class_level2/Chapter2_p50/nbproject/private/
/java11_class_level2/Chapter2_p51/nbproject/private/
/java11_class_level2/Chapter2_p54/nbproject/private/
/java11_class_level2/Chapter2_p54/build/
/java11_class_level2/Chapter2_p54b/nbproject/private/
/java11_class_level2/Chapter2_p54b/build/
/java11_class_level2/Chapter2_p56/nbproject/private/
/java11_class_level2/Chapter2_p56/build/
/java11_class_level2/Chapter2_p61/nbproject/private/
/java11_class_level2/Chapter2_p61/build/
/java11_class_level2/Chapter2_p65/nbproject/private/
/java11_class_level2/Chapter2_p66/nbproject/private/
/java11_class_level2/Chapter3_p87/nbproject/private/
/java11_class_level2/Chapter3_p87/build/
/java11_class_level2/Chapter3_p88/nbproject/private/
/java11_class_level2/Chapter3_p88/build/
/java11_class_level2/Chapter3_p89/nbproject/private/
/java11_class_level2/Chapter3_p89/build/
/java11_class_level2/Chapter3_p91/nbproject/private/
/java11_class_level2/Chapter3_p91/build/
/java11_class_level2/Chapter3_p90/nbproject/private/
/java11_class_level2/Chapter3_p92/nbproject/private/
/java11_class_level2/Chapter3_p92/build/
/java11_class_level2/Chapter3_p93/nbproject/private/
/java11_class_level2/Chapter3_p93/build/
/java11_class_level2/Chapter3_p94/nbproject/private/
/java11_class_level2/Chapter3_p94/build/
/java11_class_level2/Chapter3_p97/nbproject/private/
/java11_class_level2/Chapter3_p97/build/
